<a-entity id="enviro" position="0 -.001 0" environment="
environment="preset: osiris; 
dressingAmount: 7; 
groundColor2: #9e7b47; 
groundColor: #9e7b47; grid: dots; 
lightPosition: 0 0.8 1; 
active: true; seed: 46; 
skyType: atmosphere; 
skyColor: #88c; 
horizonColor: #ddd; 
dressing: pyramids; 
dressingColor: #9e7b47; 
dressingVariance: 0 0 0;
gridColor: #daa452>

</a-entity>
      <!-- ground collider keeps objets from falling -->
      <a-box static-body width=100 height=0.001 depth=100 visible="false"></a-box>

